/* Coded with IA by D3v4ss3 */

/* Google Font MONTSERRAT*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat',sans-serif;
    color: #444;
}

header {
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.9)), url('../imgs/software-hero.jpg');
    background-size: cover;
    color: #fff;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: rgba(68, 68, 68, 0.5);
}

.navigation {
    font-size: 20px;
    font-weight: 700;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}
.header-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-container--inner {
    width: 50%;
}
h1{
    font-size: 44px;
    margin-bottom: 32px;
}
h2{
    font-size: 38px;
    margin-bottom: 48px;
}
p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}

section {
    padding: 96px 0;
}

.wraper {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    font-size: 20px;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
}